.container {
  display: flex;
  height: calc(100vh - 70px);
}

.chat-list {
  width: 40%;
  margin: 1rem;
  background: #c5cae9;
  border-radius: 1rem;
}

.messages {
  width: 60%;
  margin: 1rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  padding: 24px;
  background: rgba(0,0,0,0.05);
}
