<mat-toolbar color="primary">
  Regístrate con Firebase

  <ng-container *ngIf="user | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img class="profile-image-toolbar" width="30" height="30" [src]="user.photoURL ?? 'assets/images/image-placeholder.png'">
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-raised-button routerLink="login">
      <mat-icon>login</mat-icon>
      Iniciar Sesión
    </button>
  </ng-template>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">Perfil</button>
  <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
</mat-menu>
