<mat-toolbar color="primary">
  Regístrate con Firebase

  <ng-container *ngIf="authService.currentUser | async as user; else loginButton">
    <button mat-raised-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-raised-button routerLink="login">
      <mat-icon>login</mat-icon>
      Iniciar Sesión
    </button>
  </ng-template>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
</mat-menu>
